<div class="container-fluid">
    <div class="row">
        <div class="col-8 user-header">
            <h1 class="heading float-left">Users</h1>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-primary  header-btn dropdown-toggle" mat-button [matMenuTriggerFor]="menu"
                matBadge="{{selectionAmount}}" matBadgePosition="after" matBadgeColor="accent" id="dropdownMenuButton"
                aria-expanded="false">
                <mat-icon class="header-icon float-left">cloud_download</mat-icon><span class="float-right">Export
                    Users</span>
            </button>
            <mat-menu #menu="matMenu" aria-labelledby="dropdownMenuButton">
                <button mat-menu-item (click)="exportFile('csv')"> as CSV</button>
                <button mat-menu-item (click)="exportFile('xml')"> as XML</button>
            </mat-menu>
            <button class="btn btn-primary header-btn" mat-button>
                <mat-icon class="header-icon float-left">add_circle_outline</mat-icon> <span class="float-right">New
                    Table</span>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <div class="spinner-container" *ngIf="isLoading">
            <mat-progress-spinner color="accent" mode="indeterminate" diameter="50">
            </mat-progress-spinner>
        </div>
        <div *ngIf="dataLength; else noUsers">
            <mat-form-field appearance="fill" *ngFor="let userfilter of userFilters">
                <mat-label>{{userfilter.name | titlecase}}</mat-label>
                <mat-select [(value)]="userfilter.defaultValue" (selectionChange)="applyUserFilter($event,userfilter)">
                    <mat-option *ngFor="let op of userfilter.options" [value]="op">
                        {{op}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <table mat-table matSort [dataSource]="dataSource"
                class="table table-striped table-hover mat-elevation-z8 user-table">
                <tbody>
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows(): null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let user">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(user) : null"
                                [checked]="selection.isSelected(user)">
                            </mat-checkbox>
                        </td>

                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name
                        </th>
                        <td mat-cell *matCellDef="let user">
                            {{user.name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let user">{{user.email}}</td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">
                            Gender
                        </th>
                        <td mat-cell *matCellDef="let user">{{user.gender | titlecase}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nat">
                        <th mat-header-cell *matHeaderCellDef>Nationality</th>
                        <td mat-cell *matCellDef="let user">{{user.nat}}</td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age">Age
                        </th>
                        <td mat-cell *matCellDef="let user">{{user.age}}</td>
                    </ng-container>

                    <ng-container matColumnDef="registered">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age">
                            Registered
                        </th>
                        <td mat-cell *matCellDef="let user">{{user.registered}}</td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                        <td mat-cell *matCellDef="let user">{{user.phone}}</td>
                    </ng-container>

                    <ng-container matColumnDef="view_user">
                        <th mat-header-cell *matHeaderCellDef>View User</th>
                        <td mat-cell *matCellDef="let user"><i class=""></i></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <mat-paginator [pageSizeOptions]=" [50, 100, 250, 500]" showFirstLastButtons
        aria-label="Select page of users"></mat-paginator>



</div>

<ng-template #noUsers>
    <h1 class="user-header">
        No users found
    </h1>
</ng-template>