 .user-header {
     margin: 0 auto;
     width: 50%;
     padding: 10px;
     text-align: center;
 }

 table.user-table {
     width: 90%;
     margin: 0 auto;
     border-collapse: collapse;
     font-size: 0.9em;
     font-family: sans-serif;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }

 .btn-container {
     width: 100%;
     margin: 0 auto;
     padding: 15px;
 }

 .export-btn {
     margin: 5px;
     min-width: 100px;
     height: 50px;

 }

 .user-table thead,
 tr {
     color: aliceblue;
     text-align: left;
     position: sticky;
 }

 .user-table th {
     padding: 12px 15px;

 }

 .user-table td.mat-cell {
     padding: 15px;
     align-items: center;
 }

 .user-table th {
     font-weight: bold;
     background-color: black;
     color: aliceblue;
 }

 .user-table tbody tr {
     border-bottom: 1px solid #dddddd;
 }


 .mat-column-name {
     font-weight: bolder;
 }