/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    width: 100%;
    margin: 20px auto;
    display: block;

}

.heading {
    font-family: Roboto Slab, "Helvetica Neue", serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: rgba(105, 115, 151);
}

.header-btn {
    height: 40px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.icon {
    vertical-align: middle;
    margin: 5px;
    font-size: 20px;
}

.mat-form-field,
.mat-form-field-label,
.mat-label,
.mat-option,
.mat-select-value {
    font-family: Roboto Slab, "Helvetica Neue", serif;
    font-size: 12px;
    color: rgba(105, 115, 151);
}